*{
    padding:0;
    margin:0;
}
.header{
    background-color: #35155D;
    color:#FCBF49;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    margin-left:200px;
    margin-bottom: 21px;
    font-family: sans-serif;
}
.main{
    margin: 0;
}
.submain{
    display: flex;
    margin-top: 0;
    justify-content: center;
}
.navigation-menu{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:50px;
    margin-right: 98px;
}
.navigator{
    color:#FCBF49;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
}
.home{
    background-color: #512B81;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.mainline{
    display:inline-block;
    font-size: 40px;
    padding-top:89px;
    color: white;
}
.mainline-paragraph{
    color: white;
    font-size: 32px;
}
.meep{
    margin-left:200px;
}
.cat{
    margin-top:60px; 
    margin-right:98px;
    margin-bottom: 575px;
    margin-left: 162px;
    border-radius: 35px;
    height: 304px;
    max-width: 271px;
}